<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyd.blog_back.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.yyd.blog_back.dto.ArticleHotDto">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="title" property="title" jdbcType="VARCHAR"/>
        <id column="hotValue" property="hotValue" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getArticlesOrderByHot" parameterType="Integer" resultMap="BaseResultMap">
        SELECT id, title, (a.numberOfLike*10 + a.numberOfComment*10 + a.numberOfView) as hotValue FROM yyd_blog.article as a order by (a.numberOfLike * 10 + a.numberOfComment * 10 + a.numberOfView) desc limit #{num};
    </select>

</mapper>