<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyd.blog_back.mapper.ControlRecordMapper">
    <resultMap id="BaseResultMap" type="com.yyd.blog_back.dto.ControlRecordOverDto">
        <id column="userId" property="userId" jdbcType="INTEGER"/>
        <id column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>

    <select id=" getControlRecordNumOverMsg" parameterType="Integer" resultMap="BaseResultMap">
        SELECT userId, count(userId) as count FROM yyd_blog.controlRecord where count > #{count} group by userId;
    </select>

</mapper>